
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.bg:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    
    display: block;
    background-image: url(https://images.unsplash.com/photo-1493514789931-586cb221d7a7);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 10px 10px rgba(0,0,0,0.6);
    /* box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);*/
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        padding: 15px 20px;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        margin: 1em
    }
    
    a:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    }
    
    .button {
        color: #1c1c1c;
        background-color: #73abc9;
        width: 300px;
        transition: .2s ease-in-out;
        border-left: 3px transparent solid;
        border-right: 3px transparent solid;
        box-shadow: 10px 10px rgba(0,0,0,0.6);
    }
    
    .button:hover {
        color: #73abc9;
        background-color: #1c1c1c;
        border-left: #73abc9 3px solid;
        border-right: #73abc9 3px solid;
        box-shadow: 10px 10px rgba(0,0,0,0.6);
    }
}
